:root {
  --veryDarkBg: rgb(26, 42, 51);
  --darkBg: rgb(31, 54, 65);
  --lightBlue: rgb(49, 195, 189);
  --yellow: rgb(242, 177, 55);
  --lightGrey: rgb(168, 191, 201);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--veryDarkBg);
  min-height: 100vh;
}
.app {
  max-width: 600px;
  margin-inline: auto;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
